body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 300px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar { 
  width: 100%; 
  background-color: #7BA3D7;
  min-width: 700px; /* Ideally would auto shift buttons and search bar instead */
  height: 50px;
  color: white;
  /*border: solid 3px black;*/
}

.navbar-icons {
  height: 20px;
  padding: 15px 15px;
  float: left;
}
.navbar-buttons {
  height: 30px;
  width: 80px;
  border: white solid 3px;
  margin: 10px 5px;
  padding: 0 10px;
  float: right;
  font-size: 15px;
}

#signin-button {
  background-color: transparent;
  color: white;
}
#signup-button {
  background-color: white;
  color: grey;
  margin-right: 15px;
}




#nav-logo, #nav-brand{
  padding: 5px;
  height: 40px;
  font-size: 30px;
  text-align: center;
}
#nav-searchbar {
  height: 25px;
  border: white solid 3px;
  margin: 10px 5px;
  padding: 0 10px;
  float: right;
  font-size: 15px;
}

.dropshadow {
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
}

p {
  margin: 0;
}


#popup-background {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: solid;
}

#signin-popup {
  width: 50vw;
  background-color: white;
  color: black;
  padding: 20px 5vw;
  margin: 40vh 20vw; /* replace 40vh with better vertical align */ 
  font-size: 30px;
  position: fixed;
}

.popup-contents {
  font-size: 20px;
  padding-top: 20px; 
}

.text-fields {
  background-color: rgb(231, 231, 231);
  border: none; 
  width: 90%;
  height: 30px;
  padding: 0 5%;
  font-size: 15px;
}

#signin-popup-button{
  background-color: #7BA3D7;
  color: white;
  display: block;
}

#popup-cross-icon {
  float: right; 
  cursor: pointer;
}

button {
  cursor: pointer;
}
button:hover, #popup-cross-icon:hover {
  position: relative;
	bottom: 2px;
  filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.4));
}
button:active, #popup-cross-icon:active {
  position: relative;
	top: 2px;
}

#forgot-password {
  font-size: small;
  color: grey;
}
#forgot-password:hover {
  color: #7BA3D7;
}

#nav-menu-icon {
  position: relative; 
  /* z-index: 10; */
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
}
#sidebar {
  height: 100vh; 
  min-height: 300px;
  width: 280px; 
  background-color: #7BA3D7;
  color: white;
  position: absolute;
  top: 0px;
  filter: drop-shadow(2px 4px 2px rgba(0, 0, 0, 0.4));
  transform: translateX(0);
}
#sidebar-content {
  padding: 50px 15px;
  width: 250px; 
}

.sidebar-items {
  display: block;
  color: white;
  font-size: 20px;
  width: 250px; 
  text-decoration: none;
}
.sidebar-items:hover, #nav-menu-icon:hover {
  filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.4));
}

hr {
  background-color: white;
}